body {
    font-family: roboto;
    max-width: 940px;
    margin: 0 auto;
    padding: 0 20px;

}

h1 {
    color: #3D3D3D;
    background-color: #E1EDF2;
    padding: 10px;

}
h2{
    
    border-bottom: 2px solid #3D3D3D;
}

figure {
    margin: 30px;
}

figure img{
    display: block;
    margin:auto;
    background-color: whitesmoke;
    color : lightgrey;
    align-items: center;
    padding: 15px;
    margin: 0;
    max-width: 100%;
    height: auto;
}

figcaption{
    text-align: center;
    margin-top: 10px;

}

.matriz-musicdot {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
}

.familia-tupfeln {
    width: 275px;
    float: right;
    margin: 0 0 10px 10px;
}

